<div class="container " style="margin: 50px auto;">
    <h3>List all apartment</h3>
    <mat-list>
        <mat-list-item *ngFor="let message of messages">
          <img matListAvatar src="https://www.realestate.com.au/blog/images/1600x1600-fit,progressive/2019/08/04070039/capi_ffcabb59e415427bb3b3fa699844c12e_495f99aed3cf261c5f9996b9e2e89a90.jpeg" alt="...">
          <a [routerLink]="['/router']" matLine> {{message.from}} </a>
          <p matLine>
            <span> {{message.subject}} </span>
            <span class="demo-2"> -- {{message.content}} </span>
          </p>
        </mat-list-item>
      </mat-list>
</div>
    