<div class="row" *ngIf="apartment">
  <div class="col-lg-6">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <ng-container
          *ngFor="let picture of apartment.pictures; index as index"
        >
          <div class="carousel-item active" *ngIf="index == 0">
            <img
              [src]="picture.imageUrl"
              class="d-block w-100"
              style="height: 650px;"
              alt="picture"
            />
          </div>
          <div class="carousel-item" *ngIf="index != 0">
            <img
              [src]="picture.imageUrl"
              class="d-block w-100"
              style="height: 650px;"
              alt="picture"
            />
          </div>
        </ng-container>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ri-text">
      <div class="section-title">
        <div class="section-title">
          <h2>{{ apartment.name }}</h2>
        </div>
        <ul class="list-accomodation">
          <li><span>Price:</span> {{ apartment.priceByDate }}</li>
          <li><span>Address:</span> {{ apartment.address.name }}</li>
          <!-- <li><span>Province:</span> {{ apartment.address.provinces.name }}</li> -->
          <li>
            <span>Category:</span>
            <span *ngFor="let category of apartment.categories">
              {{ category.name }}.</span
            >
          </li>
          <li>
            <span>Room type:</span>
            <span *ngFor="let roomType of apartment.roomTypes">
              {{ roomType.name }}.</span
            >
          </li>
          <li><span>Bathroom:</span>{{ apartment.bathroom }}</li>
          <li><span>Bedroom:</span>{{ apartment.bedroom }}</li>
        </ul>
        <p>
          {{ apartment.description }}
        </p>
        <div class="ri-features">
          <div class="ri-info">
            <i class="flaticon-019-television"></i>
            <p>Smart TV</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-029-wifi"></i>
            <p>High Wi-fii</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-003-air-conditioner"></i>
            <p>AC</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-036-parking"></i>
            <p>Parking</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-007-swimming-pool"></i>
            <p>Pool</p>
          </div>
        </div>
        <div
          class="modal fade"
          id="modalContactForm"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Booking Now</h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <label data-error="wrong" data-success="right" for="form34">
                    Check In</label
                  >
                  <input
                    type="date"
                    id="form34"
                    class="form-control validate"
                    [(ngModel)]="start"
                  />
                </div>

                <div class="md-form mb-5">
                  <label data-error="wrong" data-success="right" for="form29">
                    Check Out</label
                  >
                  <input
                    type="date"
                    id="form29"
                    class="form-control validate"
                    [(ngModel)]="end"
                  />
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button
                  class="btn btn-primary py-3 px-4"
                  (click)="createOrder()"
                >
                  Send
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <a
            href=""
            class="btn btn-primary py-3 px-4"
            data-toggle="modal"
            data-target="#modalContactForm"
          >
            Book Apartment Now</a
          >
        </div>
      </div>
    </div>
  </div>

  <hr />
  <div class="container px-md-0">
    <div class="col-7">
      <div class="form-group-new col-12" style="float: right;">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
    <hr />
    <h2>Comment list</h2>
    <ng-container >
      <div class="card" *ngFor="let item of commentList">
        <div class="card-header">
          {{item.username}}
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>
              {{item.comment}}
            </p>
          </blockquote>
        </div>
      </div>
    </ng-container>
  </div>
</div>
