<div class="row">
  <div class="col-lg-6">
    <div class="carousel-item">
      <img src="..." alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>...</h5>
        <p>...</p>
      </div>
    </div>
    <div class="ri-slider-item">
      <div class="ri-sliders owl-carousel">
        <div class="single-img set-bg" data-setbg=" assets/user/images/room-6.jpg"></div>
        <div class="single-img set-bg" data-setbg="assets/user/images/room-6.jpg"></div>
        <div class="single-img set-bg" data-setbg="assets/user/images/room-6.jpg"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="ri-text">
      <div class="section-title">
        <div class="section-title">
          <span>a memorable holliday</span>
          <h2>Deluxe Suite</h2>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
          viverra maecenas. Donec in sodales dui, a blandit nunc. Pellentesque id eros venenatis,
          sollicitudin neque sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur
          non, ultricies volutpat tellus.</p>
        <div class="ri-features">
          <div class="ri-info">
            <i class="flaticon-019-television"></i>
            <p>Smart TV</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-029-wifi"></i>
            <p>High Wi-fii</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-003-air-conditioner"></i>
            <p>AC</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-036-parking"></i>
            <p>Parking</p>
          </div>
          <div class="ri-info">
            <i class="flaticon-007-swimming-pool"></i>
            <p>Pool</p>
          </div>
        </div>
        <a href="#" class="primary-btn">Make a Reservation</a>
      </div>
    </div>
  </div>
</div>
