<br>
<br>
<br>
<h3 style="text-align: center">Order confirmation</h3>
<br>
<br>
<br>
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">##</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Status</th>
      <th scope="col">Bill Total</th>
      <th scope="col">Button</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Check In</td>
      <td>Check Out</td>
      <td>Status</td>
      <td>Bill Total</td>
      <td><button class="btn btn-primary py-1 px-1">OK</button> </td>
      <td><button class="btn btn-primary py-1 px-1">Cancel</button> </td>
    </tr>
    </tbody>
  </table>
</div>
