<div class="col-10">
  <div class="ri-text">
    <h2>Dang dat</h2>
    <ul class="list-accomodation">
      <li> dia chi</li>
      <li>so ngay book </li>
      <li> thanh tien</li>
    </ul>
    <button class="btn btn-primary py-3 px-4" style="float: left">cancel</button>
  </div>
  <div class="ri-text">
    <h2>Da chckin</h2>
    <ul class="list-accomodation">
      <li> dia chi</li>
      <li>so ngay book</li>
      <li> thanh tien</li>
    </ul>
    <button class="btn btn-primary py-3 px-4" style="float: left">cancel</button>

  </div>

</div>
