<br>
<br>
<br>
<h3 style="text-align: center">Your Reservation History </h3>
<br>
<br>
<br>
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">##</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Status</th>
      <th scope="col">Bill Total</th>
      <th scope="col">Button</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orderList,index as index">
      <th scope="row">{{index + 1}}</th>
      <td>{{order.startTime}}</td>
      <td>{{order.endTime}}</td>
      <td>{{order.statusOrders}}</td>
      <td>{{order.totalMoney}}</td>
      <td><button class="btn btn-primary py-1 px-1" *ngIf="order.statusOrders == 'PENDING' || order.statusOrders == 'NOT_RENTED'" (click)="cancelOrder(order.id,index)">Cancel this order</button> </td>
    </tr>
    </tbody>
  </table>
</div>
