<br>
<br>
<br>
<h3 style="text-align: center">Order confirmation</h3>
<br>
<br>
<br>
<div class="container">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th scope="col">##</th>
      <th scope="col">Check In</th>
      <th scope="col">Check Out</th>
      <th scope="col">Status</th>
      <th scope="col">Bill Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of listOrder,index as index">
      <th scope="row">{{index + 1}}</th>
      <td>{{order.startTime}}</td>
      <td>{{order.endTime}}</td>
      <td>{{order.statusOrders}}</td>
      <td>{{order.totalMoney}}</td>
    </tr>
    </tbody>
  </table>
</div>
