<div class="hero-wrap js-fullheight"
     style="background-image: url('https://nhadepsang.com.vn/images/2017/08/20-hinh-anh-noi-bat-cho-mau-nha-dep-1-tang-o-nong-thon-6.jpg');"
     data-stellar-background-ratio="0.5" xmlns:width="http://www.w3.org/1999/xhtml">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true" style="height: 845px">
      <div class="col-md-7 ftco-animate fadeInUp ftco-animated">
        <h2 class="subheading">Welcome to Vacation Rental</h2>
        <h1 class="mb-4">Rent an appartment for your vacation</h1>
        <p>
          <a href="#" class="btn btn-primary">Learn more</a>
          <a href="#" class="btn btn-white">Contact us</a>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-book ftco-no-pt ftco-no-pb">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-lg-5">
        <form action="#" class="appointment-form">
          <h3 class="mb-3">Search apartment</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <span>Province</span>
                    <div class="icon">
                      <span class="fa fa-chevron-down"></span>
                    </div>
                    <select
                      class="form-control"
                      aria-placeholder="Province"
                      [(ngModel)]="province_id"
                      name="province_id">
                      <option
                        *ngFor="let province of provinces"
                        [value]="province.id"
                        >{{ province.name }}</option
                      >
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-wrap">
                  <div class="icon"><span class="ion-md-calendar"></span></div>
                  <p>Check In</p>
                  <input
                    type="date"
                    class="form-control appointment_date-check-in"
                    placeholder="Check-In"
                    (change)="checkTime($event.target.value)"
                    [(ngModel)]="startTime"
                    name="startTime"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="input-wrap">
                  <div class="icon"><span class="ion-md-calendar"></span></div>
                  <p>Check Out</p>
                  <input
                    type="date"
                    class="form-control appointment_date-check-out"
                    placeholder="Check-Out"
                    (change)="checkTime($event.target.value)"
                    [(ngModel)]="endTime"
                    name="endTime"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <p>Bed room</p>
                    <input type="number" [(ngModel)]="bedroom" name="bedroom" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <p>Bath room</p>
                    <input
                      type="number"
                      [(ngModel)]="bathroom"
                      name="bathroom"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <p>From price</p>
                    <input
                      type="number"
                      [(ngModel)]="startPrice"
                      name="startPrice"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <p>To price</p>
                    <input
                      type="number"
                      [(ngModel)]="endPrice"
                      name="endPrice"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <input
                  type="submit"
                  value="Search"
                  class="btn btn-primary py-3 px-4"
                  (click)="onSearch()"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section bg-light ftco-no-pt ftco-no-pb"
  *ngIf="listApartment != null"
>
  <div class="container-fluid px-md-0">
    <div class="row justify-content-center pb-5 mb-3">
      <div
        class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated"
      >
        <h2>Search result</h2>
        <span class="subheading">D &amp; D</span>
      </div>
    </div>
    <div class="row no-gutters">
      <div
        class="col-lg-6"
        *ngFor="let apartment of listApartment; index as index"
      >
        <div class="room-wrap d-md-flex">
          <a
            href="#"
            class="img"
            style="background-image: url({{apartment.pictures[0].imageUrl}});"
          ></a>
          <div
            class="half left-arrow d-flex align-items-center"
            *ngIf="check(index); else rightTemplate"
          >
            <div class="text p-4 p-xl-5 text-center">
              <p class="star mb-0">
                <span class="fa fa-star"></span><span class="fa fa-star"></span
                ><span class="fa fa-star"></span><span class="fa fa-star"></span
                ><span class="fa fa-star"></span>
              </p>
              <p class="mb-0">
                <span class="price mr-1">{{ apartment.priceByDate }}</span>
                <span class="per">per night</span>
              </p>
              <h3 class="mb-3">
                <a routerLink="/apartment/{{ apartment.id }}">{{
                  apartment.name
                }}</a>
              </h3>
              <ul class="list-accomodation">
                <li>
                  <span>Category:</span>
                  <span *ngFor="let category of apartment.categories">
                    {{ category.name }}</span
                  >
                </li>
                <li>
                  <span>Room type:</span>
                  <span *ngFor="let roomType of apartment.roomTypes">
                    {{ roomType.name }}</span
                  >
                </li>
                <li><span>Bathroom:</span>{{ apartment.bathroom }}</li>
                <li><span>Bedroom:</span>{{ apartment.bedroom }}</li>
              </ul>
              <p class="pt-1">
                <a href="room-single.html" class="btn-custom px-3 py-2"
                  >View Room Details <span class="icon-long-arrow-right"></span
                ></a>
              </p>
            </div>
          </div>
          <ng-template #rightTemplate>
            <div class="half right-arrow d-flex align-items-center">
              <div class="text p-4 p-xl-5 text-center">
                <p class="star mb-0">
                  <span class="fa fa-star"></span
                  ><span class="fa fa-star"></span
                  ><span class="fa fa-star"></span
                  ><span class="fa fa-star"></span
                  ><span class="fa fa-star"></span>
                </p>
                <p class="mb-0">
                  <span class="price mr-1">{{ apartment.priceByDate }}</span>
                  <span class="per">per night</span>
                </p>
                <h3 class="mb-3">
                  <a routerLink="/apartment/{{ apartment.id }}">{{
                    apartment.name
                  }}</a>
                </h3>
                <ul class="list-accomodation">
                  <li>
                    <span>Category:</span>
                    <span *ngFor="let category of apartment.categories">
                      {{ category.name }}</span
                    >
                  </li>
                  <li>
                    <span>Room type:</span>
                    <span *ngFor="let roomType of apartment.roomTypes">
                      {{ roomType.name }}</span
                    >
                  </li>
                  <li><span>Bathroom:</span>{{ apartment.bathroom }}</li>
                  <li><span>Bedroom:</span>{{ apartment.bedroom }}</li>
                </ul>
                <p class="pt-1">
                  <a href="room-single.html" class="btn-custom px-3 py-2"
                    >View Room Details
                    <span class="icon-long-arrow-right"></span
                  ></a>
                </p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
