<div id="login-main">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Profile Detail</h5>
            <div class="panel-body">
              <div style="text-align: center">
                <img alt="Account Pic"
                     src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-hand-drawn-flat-wind-user-avatar-icon-png-image_4492039.jpg"
                     width="200px" height="auto" class="rounded-circle">
              </div>
            </div>
<!--            <h2 class="card-title text-center">{{account.username}}</h2>-->
            <h2 class="card-title text-center">Lợi Hồ</h2>
            <hr>
            <ul class="container details">
              <li style="text-align: center"><p>Số điện thoại: 0387601025</p></li>
              <li style="text-align: center"><p>Địa chỉ email: loiho11082015@gmail.com</p>
              </li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
