<div id="login-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center" *ngIf="user">Profile Detail</h5>
              <div class="panel-body">
                <div style="text-align: center">
                  <img alt="User Pic"
                       src="https://png.pngtree.com/png-clipart/20190904/original/pngtree-hand-drawn-flat-wind-user-avatar-icon-png-image_4492039.jpg"
                       width="200px" height="auto" class="rounded-circle">
                </div>
              </div>
              <!--            <h2 class="card-title text-center">{{account.username}}</h2>-->
              <h2 class="card-title text-center">{{user.name}}</h2>
              <hr>
              <ul class="container details">
                <li style="text-align: center"><p>Số điện thoại: {{user.phone}}</p></li>
                <li style="text-align: center"><p>Email:  {{user.email}}</p>
                <button type="submit"  class="btn btn-primary btn-block" (click)="cancel()">Back to homepage</button>
              </ul>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

