#login-main {
    background-color: #eec0c6;
    background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150%;
    width: 100%;
    font-family: "Numans", sans-serif;
  }
  
  ul {
    list-style-type: disc;
  }
  