<section
  class="hero-wrap hero-wrap-2"
  style="background-image: url('assets/user/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text align-items-center justify-content-center"
    >
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs mb-2">
          <span class="mr-2"
            ><a href="index.html">Home <i class="fa fa-chevron-right"></i></a
          ></span>
          <span>Rooms <i class="fa fa-chevron-right"></i></span>
        </p>
        <h1 class="mb-0 bread">Apartments</h1>
      </div>
    </div>
  </div>
</section>

<div></div>
<section
  class="ftco-section bg-light ftco-no-pt ftco-no-pb"
  *ngIf="apartmentList"
>
  <div class="container-fluid px-md-0">
    <div class="row no-gutters">
      <div class="col-lg-6" *ngFor="let apartment of apartmentList; index as index">
        <div class="room-wrap d-md-flex">
          <a
            href="#"
            class="img"
            style="background-image: url({{apartment.pictures[0].imageUrl}});"
          ></a>
          <div class="half left-arrow d-flex align-items-center" *ngIf="check(index);else rightTemplate">
            <div class="text p-4 p-xl-5 text-center">
              <p class="star mb-0">
                <span class="fa fa-star"></span><span class="fa fa-star"></span
                ><span class="fa fa-star"></span><span class="fa fa-star"></span
                ><span class="fa fa-star"></span>
              </p>
              <p class="mb-0">
                <span class="price mr-1">{{ apartment.priceByDate }}</span>
                <span class="per">per night</span>
              </p>
              <h3 class="mb-3">
                <a routerLink="/apartment/{{apartment.id}}" >{{ apartment.name }}</a>
              </h3>
              <ul class="list-accomodation">
                <li><span>Category:</span>
                    <span *ngFor="let category of apartment.categories"> {{category.name}}</span>
                </li>
                <li><span>Room type:</span>
                    <span *ngFor="let roomType of apartment.roomTypes"> {{roomType.name}}</span>
                </li>
                <li><span>Bathroom:</span>{{apartment.bathroom}}</li>
                <li><span>Bedroom:</span>{{apartment.bedroom}}</li>
              </ul>
              <p class="pt-1">
                <a href="room-single.html" class="btn-custom px-3 py-2"
                  >View Room Details <span class="icon-long-arrow-right"></span
                ></a>
              </p>
            </div>
          </div>
          <ng-template #rightTemplate>
            <div class="half right-arrow d-flex align-items-center" >
              <div class="text p-4 p-xl-5 text-center">
                <p class="star mb-0">
                  <span class="fa fa-star"></span><span class="fa fa-star"></span
                  ><span class="fa fa-star"></span><span class="fa fa-star"></span
                  ><span class="fa fa-star"></span>
                </p>
                <p class="mb-0">
                  <span class="price mr-1">{{ apartment.priceByDate }}</span>
                  <span class="per">per night</span>
                </p>
                <h3 class="mb-3">
                  <a routerLink="/apartment/{{apartment.id}}" >{{ apartment.name }}</a>
                </h3>
                <ul class="list-accomodation">
                  <li><span>Category:</span>
                      <span *ngFor="let category of apartment.categories"> {{category.name}}</span>
                  </li>
                  <li><span>Room type:</span>
                      <span *ngFor="let roomType of apartment.roomTypes"> {{roomType.name}}</span>
                  </li>
                  <li><span>Bathroom:</span>{{apartment.bathroom}}</li>
                  <li><span>Bedroom:</span>{{apartment.bedroom}}</li>
                </ul>
                <p class="pt-1">
                  <a href="room-single.html" class="btn-custom px-3 py-2"
                    >View Room Details <span class="icon-long-arrow-right"></span
                  ></a>
                </p>
              </div>
            </div>
          </ng-template>
          
        </div>
      </div>

      <!-- <div class="col-lg-6">
          <div class="room-wrap d-md-flex">
            <a href="#" class="img order-md-last" style="background-image: url(assets/user/images/room-3.jpg);"></a>
            <div class="half right-arrow d-flex align-items-center">
              <div class="text p-4 p-xl-5 text-center">
                <p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>
                <p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p>
                <h3 class="mb-3"><a href="rooms.html">Family Room</a></h3>
                <ul class="list-accomodation">
                  <li><span>Max:</span> 3 Persons</li>
                  <li><span>Size:</span> 45 m2</li>
                  <li><span>View:</span> Sea View</li>
                  <li><span>Bed:</span> 1</li>
                </ul>
                <p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>
              </div>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</section>
